.dialogWindow { /*стиль диалоговой таблицы*/
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 15px;
    margin: 10px;
}

.Respondent { /*это стиль имени каждого респондента*/
    margin: 20px;
    text-decoration: none;
    outline: none;
}

.Div {
    margin: 10px;
}

.Message { /*это стиль сообщений из правой колонки*/
    padding: 10px;
}

.TextArea {
margin: 10px;
}

.Button {
margin: 10px;
}



